#deck {
  width: 1em;
  font-size: 2em;
  padding: 0;
  margin: 0;
  color: darkred;
  border: 0;
  z-index: 0;
  position: absolute;
  left: 40%;
}

#deck-black-suit {
  width: 3rem;
  height: 3rem;
  font-size: 2em;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 0;
}

#deck-red-suit {
  height: 3rem;
  width: 3rem;
  font-size: 2em;
  padding: 0;
  margin: 0;
  color: darkred;
  border: 0;
  z-index: 0;
}

#player-card-image {
  height: 10em;
}

#player-card-row {
  margin-top: 2em;
  margin-bottom: 3em;
}

.card-one {
  opacity: 0;
  animation: first-card 0.4s linear 1.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.card-two {
  opacity: 0;
  animation: second-card 0.4s linear 1.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.card-three {
  opacity: 0;
  animation: third-card 0.4s linear 1.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.card-four {
  opacity: 0;
  animation: fourth-card 0.4s linear 1.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.card-five {
  opacity: 0;
  animation: fifth-card 0.4s linear 1.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes first-card {
  from {
    opacity: 1;
    transform: translate(3em, -2em);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes second-card {
  from {
    opacity: 1;
    transform: translate(1.5em, -2em);
    
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes third-card {
  from {
    opacity: 1;
    transform: translate(0, -2em);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fourth-card {
  from {
    opacity: 1;
    transform: translate(-1.5em, -2em);
    
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fifth-card {
  from {
    opacity: 1;
    transform: translate(-3em, -2em);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
#staggered-list-item {
  opacity: 0;
}

#staggered {
  opacity: 0;
}

.join-spinner {
  position: relative;
  left: 45%;
  top: 20em;
  z-index: 1;
}

.btn-div {
  margin-top: 1em;
}

.action-btn {
  width: 11em;
}

.raise-panel {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; 
}

.raise-panel::-webkit-scrollbar { 
    display: none;
}
@keyframes slide-in {
	from {left: 150em;}
	to {left: 0;}
}

@keyframes flash {
	from {
		background-color: black;
		border-color: black;
	}
	to {
		background-color: #00bcd4;
		border-color: #00bcd4;
		color: white;
	}
}

.slide-onscreen-right {
	animation: slide-in 1s;
	-webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#offscreen-left {
	left: 150em;
}

.table-container {
	display: none;
}

.circle-container {
	position: relative;
	width: 30em;
	height: 30em;
	padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border: solid 5px black;
	background-color: darkgreen;
	border-radius: 50%;
	margin: 1.75em auto 0;
	left: 150em;
}

.circle-container a {
	/*display: block;*/
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
	display: flex;
	border: 1px solid black;
	border-radius: 50%;
	background-color: black;
	align-items: center;
}

#player-card-row {
	transform: translateX(7.5em);
}

@media (min-width: 1056px) {
	
	.deg0 { transform: translate(12.3em); }
	.deg45 { transform: rotate(45deg) translate(11.5em) rotate(-45deg); }
	.deg90 { transform: rotate(90deg) translate(10.9em) rotate(-90deg); }
	.deg135 { transform: rotate(135deg) translate(11.5em) rotate(-135deg); }
	.deg180 { transform: translate(-12.3em); }
	.deg225 { transform: rotate(225deg) translate(11.5em) rotate(-225deg); }
	.deg270 { transform: rotate(270deg) translate(10.9em) rotate(-270deg); }
	.deg315 { transform: rotate(315deg) translate(11.5em) rotate(-315deg); }
	
	.circle-center {
		height: 15em;
		transform: translateY(-2.5em);
	}
	
	.table-cards {
		transform: translateY(1em);
	}
	
	#deck-red-suit {
		width: 1.5em;
		height: 1.75em;
	}
	
	#deck-black-suit {
		width: 1.5em;
		height: 1.75em;
	}
	
	#deck { 
		left: 50%;
		top: 50%;
		width: 1.25em;
		height: 1.75em;
		transform: translateX(-0.88em) translateY(-3.5em);
	}
	
	#pot {
		transform: translateX(-2em) translateY(2em);
	}
}

@media (max-width: 1055px) {
	
	.deg0 { transform: translate(12.3em); }
	.deg45 { transform: rotate(45deg) translate(11.8em) rotate(-45deg); }
	.deg90 { transform: rotate(90deg) translate(11.55em) rotate(-90deg); }
	.deg135 { transform: rotate(135deg) translate(11.8em) rotate(-135deg); }
	.deg180 { transform: translate(-12.3em); }
	.deg225 { transform: rotate(225deg) translate(11.8em) rotate(-225deg); }
	.deg270 { transform: rotate(270deg) translate(11.55em) rotate(-270deg); }
	.deg315 { transform: rotate(315deg) translate(11.8em) rotate(-315deg); }
	
	.circle-center {
		height: 15em;
		padding-top: 1em;
		transform: translateY(-2em);
	}
	
	.table-cards {
		padding-left: 1.35em;
	}
	
	#deck-red-suit {
		width: 1.25em;
		height: 1.5em;
	}
	
	#deck-black-suit {
		width: 1.25em;
		height: 1.5em;
	}
	
	#deck { 
		left: 50%;
		top: 50%;
		width: 1.05em;
		height: 1.5em;
		transform: translateX(-0.7em) translateY(-3.75em);
	}
	
	#pot {
		transform: translateX(-2em) translateY(1em);
	}
}

@media (max-width: 456px) {
	.circle-container { 
		width: 26em; 
		height: 26em;
		margin-left: 2em;
	}
	
	.deg0 { transform: translate(10.3em); }
	.deg45 { transform: rotate(45deg) translate(10.9em) rotate(-45deg); }
	.deg90 { transform: rotate(90deg) translate(11.6em) rotate(-90deg); }
	.deg135 { transform: rotate(135deg) translate(10.9em) rotate(-135deg); }
	.deg180 { transform: translate(-10.3em); }
	.deg225 { transform: rotate(225deg) translate(10.9em) rotate(-225deg); }
	.deg270 { transform: rotate(270deg) translate(11.6em) rotate(-270deg); }
	.deg315 { transform: rotate(315deg) translate(10.9em) rotate(-315deg); }
	
	#deck { 
		left: 50%;
		top: 50%;
		height: 1.5em;
		width: 1em;
		transform: translateX(-1em) translateY(-3.5em);
	}
	
	.table-cards {
		padding-left: 0;
		transform: translateX(-0.5em);
	}
	
	#deck-black-suit {
		width: 1.5em;
	}
	
	#deck-red-suit {
		width: 1.5em;
	}
	
	#pot {
		left: 50%;
		top: 50%;
		width: 4em;
		transform: translateX(-2.5em) translateY(0.5em);
	}
}

@media (min-width: 989px) {
	#player-toolbar {
		margin-left: 300px;
	}
	
}

@media (max-width: 988px) {
	.circle-container {
		margin-left: 8.5em;
	}
	
	#player-card-row {
		margin-left: 8.5em;
	}
}

@media (max-width: 570px) {
	.circle-container {
		margin-left: 3.5em;
	}
	
	#player-card-row {
		margin-left: 3.5em;
	}
}

@media (max-width: 456px) {
	.circle-container {
		margin-left: 1.5em;
	}
	
	#player-card-row {
		margin-left: 0;
	}
}

.circle-container div { display: block; width: 100%; }

.circle-center {
  position: absolute;
  overflow: hidden;
  height: 15em;
  top: 43.75%;
  margin: -2em;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  left: 30%;
}

.circle-container div .deck {
  display: flex;
  justify-content: center;
}

div .table-cards {
  justify-content: space-around;
  position: initial;
  height: 3em;
  margin-top: 0.5em;
}

.circle-container div {
  width: 16em;
}

.deck {
	position: initial;
	height: 3em;
}

.pot {
	display: flex;
	justify-content: center;
	position: initial;
	height: 3em;
}

#pot {
	position: relative;
	height: 3em;
	top: 80%;
	left: 60%;
	display: flex;
	justify-content: center;
}

.circle-container .active-player {
	animation: flash 2s ease-out reverse; 
	-webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
/* This file is for your main application css. */

#messages {
	overflow-y: scroll;
}

#message-container {
	overflow-y: scroll;
}

#me {
	position: relative;
	height: 18.75%;
	width: 18.75%;
	left: 40.625%;
	top: 81.25%;
	border: 1px solid black;
	border-radius: 50%;
	background-color: black;
}

.login-spinner {
	position: absolute;
	top: 35%;
	right: 35%;
}

.light-transparent {
	opacity: 0.2;
}

.removed {
	display: none;
}

@media (max-width: 989px) {
	main {
		padding-left: 0px;
	}
	
	header {
		padding-left: 0px;
	}
}

@media (min-width: 990px) {
	main {
		padding-left: 300px;
	}
	
	header {
	padding-left: 300px;
}

	div .alert {
		padding-left: 300px;
	}
	
	h3 .alert {
		padding-left: 0;
	}
	
	.menu-dropdown {
		visibility: hidden;
	}
}

.nav-wrapper .menu-dropdown {
	margin-top: 75%;
	font-size: 3em;
}

.top-nav {
	height: 122px;
}

nav.top-nav a.page-title {
	line-height: 122px;
	font-size: 48px;
}

.side-nav {
	overflow: hidden;
}

.search-wrapper.card {
	margin: 0rem 0 1rem 0;
}

#player-element {
	margin-left: 10px;
}

#profile-greeting {
	padding-left: 10%;
}

.card-table {
	border: 10px solid black;
	border-radius: 50%;
	background-color: darkgreen;
	height: 400px;
}

#player-emblem {
	color: white;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	font-size: 1.5rem;
}

.player-controls {
	opacity: 1;
}

/* Put these into one invisible class with opacity = 0 */

.raise {
	opacity: 0;
}

.call-btn {
	opacity: 0;
}

.fold-btn {
	opacity: 0;
}

.raise-btn {
	opacity: 0;
}

.check-btn {
	opacity: 0;
}

.card-holder {
	visibility: hidden;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10%;
	/* border: 5px solid teal; */
	/* background-color: snow; */
	justify-content: center;
}

.player-cards {
	font-size: 3em;
	margin-top: 0.3em;
	margin-bottom: 0;
	width: 5rem;
	height: 5rem;
}

.hidden {
	display: none;
}

#player-cards {
	display: flex;
	justify-content: center;
}

.player-center {
	margin-top: 3em;
}

#red-suit {
	color: red;
}

#participant-list {
	height: 13em;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	overflow: auto;
}

#chat-messages {
	height: 15em;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	overflow: auto;
}

#chat-send {
	position: relative;
	top: 1.5em;
}

#chip-title {
	position: relative;
	top: -1.5em;
}

.green-toast {
	background-color: #1b5e20;
	color: white;
}

.red-toast {
	background-color: #f44336;
	color: white;
}

.active-page {
	background-color: #69f0ae;
}

.page-numbers {
	display: inline-block;
}

.player-icon {
	margin-top: 1em;
}

.user-info {
	font-size: 1.25em !important;
}

.blurb {
	margin-top: 0.5em !important;
}

#num-players-invitation {
	position: relative;
	transform: translate(-2em);
	margin-right: 1em;
}

#go-decline {
	display: inline-block;
	position: relative;
	left: 0%;
}

#invitation-title {
	transform: translate(0, 0.7em);
}


@media (max-width: 989px) {
	#go-decline {
		left: 15%;
	}
}

@media (max-width: 456px) {
	#invitation-title {
		transform: translate(-1em, 0.65em);
	}
	
	#go-decline {
		position: relative;
		left: 0%;
		transform: translate(1em);
	}
}

#go-btn-span {
	margin-right: 1em;
}

::-webkit-input-placeholder {
   color: darkslategray;
}

:-moz-placeholder { /* Firefox 18- */
   color: darkslategray;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: darkslategray;  
}

:-ms-input-placeholder {  
   color: darkslategray;  
}

/*# sourceMappingURL=app.css.map*/