<div class="row" id="winning-hand-row">
  <div class="col s12 center-align">
    <div class="card-panel white teal-text z-depth-5 scale-transition scale-out" id="winning-hand-panel">
      <h1 id="winning-hand-title">Winning hand</h1>
      <h6 id="winner-heading"><span id="winner-span"></span> wins with</h6>
      <h6 id="winning-hand-type"></h6>
    <div id="winning-hand-images">
    </div>
    </div>
  </div>
</div>