<html>
  <head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>