<script>
  let regex = /(protected|private)\/rooms/;
  if (regex.test(window.location)) {
    $(".menu-dropdown").sideNav();
    $("#player-account-modal").modal();
    $("#controls-modal").modal();
    $("#raise-modal").modal();
    $("#chat-box-modal").modal();
    $("#join-modal").modal();
    $("#bank-roll-modal").modal(); 
  }
</script>