<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PokerEx</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <nav class="top-nav teal darken-4">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">PokerEx</a></div>
        </div>
      </nav>
      <div class="container hide-on-med-and-down"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
          <div class="search-wrapper card">
            <div class="card-image">
              <img src="images/office.jpg">
            </div>
          </div>
        <%= if @current_player do %>
          <li><%= @current_player.name %></li>
          <li><%= link "Log out", to: session_path(@conn, :delete, @current_player), method: "delete" %></li>
        <% else %>
          <li><%= link "Register", to: player_path(@conn, :new) %></li>
          <li><%= link "Log in", to: session_path(@conn, :new) %></li>
        <% end %>
        <li class="bold"><a href="#" class="waves-effect waves-teal">Getting Started</a></li>  
        <li class="bold"><a href="#" class="waves-effect waves-teal">Online</a></li>
        <li><div class="divider"></div></li>
        <div id="message-container">
          <ul id="messages">
            
          </ul>
        </div>
      </ul>
    </header>    


      <div class="container">
      <div class="alert row">
        <div class="col s12">
          <%= if get_flash(@conn, :info) do %>
            <div class="card-panel blue">
              <div class="row">
                <div class="col s12">
                   <h3 class="alert-info white-text center-align" role="alert"><%= get_flash(@conn, :info) %></h3>
                </div>
              </div>
            </div>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <div class="card-panel red">
              <div class="row">
                <div class="col s12">
                  <h3 class="alert-danger white-text center-align" role="alert"><%= get_flash(@conn, :error) %></h3>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
      </div> <!-- /container -->


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>
