<div class="row">
  <div class="col s12 center-align">
    <div class="card-panel green darken-4 white-text">
      <h3>Create a Room</h3>
      <ul class="collection">
    </div>
    <%= render PokerEx.PrivateRoomView, "_form.html", changeset: @changeset, player: @current_player, page: @page, players: @players, conn: @conn %>
  </div>
</div>