#staggered-list-item {
  opacity: 0;
}

#staggered {
  opacity: 0;
}

.join-spinner {
  position: relative;
  left: 45%;
  top: 20em;
  z-index: 1;
}

.btn-div {
  margin-top: 1em;
}

.action-btn {
  width: 11em;
}

.raise-panel {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; 
}

.raise-panel::-webkit-scrollbar { 
    display: none;
}