<div class="join-component-container" id="<%= @id %>">
  <div class="join-component">
    <h2 class="poker-green">Join Game</h2>
    <form phx-change="change_name">
      <input 
        name="name" 
        id="join-name-input"
        data-testid="name-input" 
        value="<%= @name %>" 
        placeholder="Enter username" 
      />
    </form>
    <a class="btn <%= unless @name, do: "disabled"  %>" href="#" phx-click="attempt_join">Join</a>
  </div>
</div>