html,
body {
  height: 100%;
}

h1 {
  font-family: 'Vast Shadow', cursive;
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

.h-center {
  display: flex;
  justify-content: center;
}

.poker-green {
  color: #518972;
}

.card--wrapper {
  margin: 0 30px 0 30px;
}

.card--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: 100%;
}