/* This file is for your main application css. */

#messages {
	overflow-y: scroll;
}

#message-container {
	overflow-y: scroll;
}

#me {
	position: relative;
	height: 18.75%;
	width: 18.75%;
	left: 40.625%;
	top: 81.25%;
	border: 1px solid black;
	border-radius: 50%;
	background-color: black;
}

.login-spinner {
	position: absolute;
	top: 35%;
	right: 35%;
}

.light-transparent {
	opacity: 0.2;
}

.removed {
	display: none;
}

@media (max-width: 989px) {
	main {
		padding-left: 0px;
	}
	
	header {
		padding-left: 0px;
	}
}

@media (min-width: 990px) {
	main {
		padding-left: 300px;
	}
	
	header {
	padding-left: 300px;
}

	div .alert {
		padding-left: 300px;
	}
	
	h3 .alert {
		padding-left: 0;
	}
	
	.menu-dropdown {
		visibility: hidden;
	}
}

.nav-wrapper .menu-dropdown {
	margin-top: 75%;
	font-size: 3em;
}

.top-nav {
	height: 122px;
}

nav.top-nav a.page-title {
	line-height: 122px;
	font-size: 48px;
}

.side-nav {
	overflow: hidden;
}

.search-wrapper.card {
	margin: 0rem 0 1rem 0;
}

#player-element {
	margin-left: 10px;
}

#profile-greeting {
	padding-left: 10%;
}

.card-table {
	border: 10px solid black;
	border-radius: 50%;
	background-color: darkgreen;
	height: 400px;
}

#player-emblem {
	color: white;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	font-size: 1.5rem;
}

.player-controls {
	opacity: 1;
}

/* Put these into one invisible class with opacity = 0 */

.raise {
	opacity: 0;
}

.call-btn {
	opacity: 0;
}

.fold-btn {
	opacity: 0;
}

.raise-btn {
	opacity: 0;
}

.check-btn {
	opacity: 0;
}

.card-holder {
	visibility: hidden;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10%;
	/* border: 5px solid teal; */
	/* background-color: snow; */
	justify-content: center;
}

.player-cards {
	font-size: 3em;
	margin-top: 0.3em;
	margin-bottom: 0;
	width: 5rem;
	height: 5rem;
}

.hidden {
	display: none;
}

#player-cards {
	display: flex;
	justify-content: center;
}

.player-center {
	margin-top: 3em;
}

#red-suit {
	color: red;
}

#participant-list {
	height: 13em;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	overflow: auto;
}

#chat-messages {
	height: 15em;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	overflow: auto;
}

#chat-send {
	position: relative;
	top: 1.5em;
}

#chip-title {
	position: relative;
	top: -1.5em;
}

#signup-card {
	width: 24em;
	height: 24em;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#player-home-card {
	width: 24em;
	height: 24em;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



#content-row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.green-toast {
	background-color: #1b5e20;
	color: white;
}

.red-toast {
	background-color: #f44336;
	color: white;
}

.cyan-toast {
	background-color: #00838f;
	color: white;
}

.active-page {
	background-color: #69f0ae;
}

.page-numbers {
	display: inline-block;
}

.player-icon {
	margin-top: 1em;
}

.user-info {
	font-size: 1.25em !important;
}

.blurb {
	margin-top: 0.5em !important;
}

#num-players-invitation {
	position: relative;
	transform: translate(-2em);
	margin-right: 1em;
}

#go-decline {
	display: inline-block;
	position: relative;
	left: 0%;
}

#invitation-title {
	transform: translate(0, 0.7em);
}

.invitation-row {
	border-top: 1px #bbdefb solid;
	border-bottom: 1px #bbdefb solid;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

@media (max-width: 989px) {
	#go-decline {
		left: 15%;
	}
}

@media (max-width: 456px) {
	#invitation-title {
		transform: translate(-1em, 0.65em);
	}
	
	#go-decline {
		position: relative;
		left: 0%;
		transform: translate(1em);
	}
}

#go-btn-span {
	margin-right: 1em;
}

::-webkit-input-placeholder {
   color: darkslategray;
}

:-moz-placeholder { /* Firefox 18- */
   color: darkslategray;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: darkslategray;  
}

:-ms-input-placeholder {  
   color: darkslategray;  
}