/* This file is for your main application css. */

#messages {
	overflow-y: scroll;
}

#message-container {
	overflow-y: scroll;
}

#me {
	position: relative;
	height: 18.75%;
	width: 18.75%;
	left: 40.625%;
	top: 81.25%;
	border: 1px solid black;
	border-radius: 50%;
	background-color: black;
}

header {
	padding-left: 300px;
}

main {
	padding-left: 300px;
}

.top-nav {
	height: 122px;
}

nav.top-nav a.page-title {
	line-height: 122px;
	font-size: 48px;
}

.side-nav {
	overflow: hidden;
}

.search-wrapper.card {
	margin: 0rem 0 1rem 0;
}

#player-element {
	margin-left: 10px;
}

.card-table {
	border: 10px solid black;
	border-radius: 50%;
	background-color: darkgreen;
	height: 400px;
}

#player-emblem {
	color: white;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	font-size: 1.5rem;
}

.player-controls {
	visibility: hidden;
}

.card-holder {
	visibility: hidden;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10%;
	border: 5px solid teal;
	background-color: snow;
	justify-content: center;
}

.player-cards {
	font-size: 3rem;
	margin-top: 0;
	margin-bottom: 0;
}

#player-cards {
	display: flex;
	justify-content: center;
}

.player-center {
	margin-top: 3em;
}

#red-suit {
	color: red;
}

::-webkit-input-placeholder {
   color: darkslategray;
}

:-moz-placeholder { /* Firefox 18- */
   color: darkslategray;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: darkslategray;  
}

:-ms-input-placeholder {  
   color: darkslategray;  
}