#deck {
  width: 1em;
  font-size: 2em;
  padding: 0;
  margin: 0;
  color: darkred;
  border: 0;
  z-index: 0;
  position: absolute;
  left: 40%;
}

#deck-black-suit {
  width: 3rem;
  height: 3rem;
  font-size: 2em;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 0;
}

#deck-red-suit {
  height: 3rem;
  width: 3rem;
  font-size: 2em;
  padding: 0;
  margin: 0;
  color: darkred;
  border: 0;
  z-index: 0;
}

#player-card-image {
  height: 10em;
}

#player-card-row {
  margin-top: 2em;
  margin-bottom: 3em;
}