#deck {
  font-size: 2em;
  padding: 0;
  margin: 0;
  color: darkred;
  border: 0;
  z-index: 0;
  position: absolute;
  left: 40%;
}

#deck-black-suit {
  font-size: 2em;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 0;
}

#deck-red-suit {
  font-size: 2em;
  padding: 0;
  margin: 0;
  color: darkred;
  border: 0;
  z-index: 0;
}