@keyframes slide-in {
	from {left: 150em;}
	to {left: 0;}
}

.slide-onscreen-right {
	animation: slide-in 1s;
	-webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#offscreen-left {
	left: 150em;
}

.circle-container {
	position: relative;
	width: 28em;
	height: 28em;
	padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border: solid 5px black;
	background-color: darkgreen;
	border-radius: 50%;
	margin: 1.75em auto 0;
	left: 150em;
}

.circle-container a {
	/*display: block;*/
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
	display: flex;
	border: 1px solid black;
	border-radius: 50%;
	background-color: black;
	align-items: center;
}

@media (min-width: 1056px) {
	.circle-container { width: 40em; }
	.table-width { width: 40em;}
	
	.deg0 { transform: translate(17.5em); }
	.deg45 { transform: rotate(45deg) translate(13.25em) rotate(-45deg); }
	.deg90 { transform: rotate(90deg) translate(11.25em) rotate(-90deg); }
	.deg135 { transform: rotate(135deg) translate(13.25em) rotate(-135deg); }
	.deg180 { transform: translate(-17.5em); }
	.deg225 { transform: rotate(225deg) translate(13.25em) rotate(-225deg); }
	.deg270 { transform: rotate(270deg) translate(11.25em) rotate(-270deg); }
	.deg315 { transform: rotate(315deg) translate(13.25em) rotate(-315deg); }
	
	#deck { left: 53.5%; }
}

@media (max-width: 1055px) {
	.circle-container { width: 40em; }
	.table-width { width: 40em; }
	
	.deg0 { transform: translate(17.5em); }
	.deg45 { transform: rotate(45deg) translate(13.75em) rotate(-45deg); }
	.deg90 { transform: rotate(90deg) translate(11.75em) rotate(-90deg); }
	.deg135 { transform: rotate(135deg) translate(13.75em) rotate(-135deg); }
	.deg180 { transform: translate(-17.5em); }
	.deg225 { transform: rotate(225deg) translate(13.75em) rotate(-225deg); }
	.deg270 { transform: rotate(270deg) translate(11.75em) rotate(-270deg); }
	.deg315 { transform: rotate(315deg) translate(13.75em) rotate(-315deg); }
	
	#deck { left: 53.5%; }
}

@media (max-width: 620px) {
	.circle-container { width: 30em; }
	.table-width { width: 30em; }
	
	.deg0 { transform: translate(12.5em); }
	.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
	.deg90 { transform: rotate(90deg) translate(11.75em) rotate(-90deg); }
	.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
	.deg180 { transform: translate(-12.5em); }
	.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
	.deg270 { transform: rotate(270deg) translate(11.75em) rotate(-270deg); }
	.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }
	
	#deck { left: 40%; }
}

@media (max-width: 456px) {
	.circle-container { width: 20.5em; }
	.table-width { width: 20.5em; }
	
	.deg0 { transform: translate(7.75em); }
	.deg45 { transform: rotate(45deg) translate(9em) rotate(-45deg); }
	.deg90 { transform: rotate(90deg) translate(11.75em) rotate(-90deg); }
	.deg135 { transform: rotate(135deg) translate(9em) rotate(-135deg); }
	.deg180 { transform: translate(-7.75em); }
	.deg225 { transform: rotate(225deg) translate(9em) rotate(-225deg); }
	.deg270 { transform: rotate(270deg) translate(11.75em) rotate(-270deg); }
	.deg315 { transform: rotate(315deg) translate(9em) rotate(-315deg); }
	
	#deck { 
		left: 30%;
		height: 1.5em;
		width: 1em;
	}
}



.circle-container div { display: block; width: 100%; }

.circle-center {
  position: absolute;
  overflow: hidden;
  height: 10em;
  top: 43.75%;
  margin: -2em;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  left: 30%;
}

.circle-container div .deck {
  display: flex;
  justify-content: center;
}

div .table-cards {
  justify-content: space-around;
  position: initial;
  height: 3em;
  margin-top: 0.5em;
}

.circle-container div {
  width: 16em;
}

.deck {
	position: initial;
	height: 3em;
}

.pot {
	display: flex;
	justify-content: center;
	position: initial;
	height: 3em;
}

#pot {
	position: relative;
	height: 3em;
	top: 80%;
	left: 60%;
	display: flex;
	justify-content: center;
}

.circle-container .active-player {
	border-color: white;
}