<div class="center-align">
  <div class="col">
    <div class="card-panel blue lighten-3 white-text z-depth-5" id="signup-card">
      <h5>Not a member yet?</h5> <%= button("Sign up here!", to: player_path(@conn, :new), class: "btn teal white-text") %>
      <br/>
      <h5>OR</h5>
      <br/>
      <%= link("Log in", to: session_path(@conn, :new), class: "btn btn-large blue white-text") %>
    </div>
  </div>
</div>