<div class="row" id="greeting-row">
  <div class="center-align teal-text col s12">
    <h1>Welcome to PokerEx!</h1>
  </div>
</div>
<div class="row" id="content-row">
  <%= if @current_player do %>
  <%= render "_home.html", conn: @conn, current_player: @current_player %>
  <% else %>
  <%= render "_welcome_box.html", conn: @conn %>
  <% end %>
</div>
<div class="row">
  <%= render "_landing.html", conn: @conn %>
</div>
