<div class="row">
  <div class="center-align teal-text">
    <h1>Welcome to PokerEx!</h1>
  </div>
</div>
<div class="row">
  <div class="center-align">
    Not a member yet? <%= button("Sign up here!", to: player_path(@conn, :new), class: "btn teal white-text") %>
    <br/>
    OR
    <br/>
    <%= link("Log in", to: session_path(@conn, :new), class: "btn blue white-text") %>
  </div>
</div>
